@import url(bootstrap.css);
@import url(../fonts/stylesheet.css);
.black-bg {
  background-color: #0a0a0a; }

.logo-block .logo-and-menu {
  height: 100px; }
  .logo-block .logo-and-menu .logo-and-menu__logo {
    height: 80%; }
    .logo-block .logo-and-menu .logo-and-menu__logo img {
      display: inline-block;
      vertical-align: middle; }

.logo-and-menu__menu {
  height: 80%; }
  .logo-and-menu__menu span {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white; }

.top-about-company {
  position: relative; }
  .top-about-company__left {
    top: 0;
    left: 0;
    position: absolute; }
  .top-about-company__right {
    background-color: #171717; }
    .top-about-company__right__inner {
      padding: 0 100px 0 200px;
      position: relative; }
      .top-about-company__right__inner:hover h1 span:first-of-type:after {
        position: absolute;
        top: 32px;
        content: "";
        display: block;
        width: 5%;
        height: 2px;
        background-color: #4a4c4c;
        transition: width 2s, height 2s, background-color 2s, transform 2s; }
      .top-about-company__right__inner h1 {
        font-family: 'Gobold';
        font-size: 25px;
        font-variant: all-small-caps; }
        .top-about-company__right__inner h1 span:first-of-type {
          display: inline-block;
          color: #4a4c4c; }
        .top-about-company__right__inner h1 span:last-of-type {
          color: #82878a; }
      .top-about-company__right__inner p {
        color: #82878a;
        font-family: 'Open Sans'; }
  .top-about-company__pagination {
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Open Sans'; }
    .top-about-company__pagination span:first-of-type {
      display: inline-block;
      color: #4a4c4c; }
    .top-about-company__pagination span:last-of-type {
      color: #82878a; }
    .top-about-company__pagination__next {
      position: relative; }
      .top-about-company__pagination__next span:first-of-type {
        width: 30px;
        height: 3px;
        background: #bcbcbc;
        display: inline-block;
        vertical-align: middle; }
      .top-about-company__pagination__next span:last-of-type {
        position: absolute;
        left: 85%;
        top: 35%;
        border: solid #bcbcbc;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
        vertical-align: middle; }
      .top-about-company__pagination__next .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }

.our-service {
  background-image: url("../images/mers-bg.png");
  background-size: cover; }

@media screen and (max-width: 992px) {
  .top-about-company__right__inner {
    padding: 0 50px 0 100px; }

  .top-about-company__pagination {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 768px) {
  .top-about-company__left {
    position: unset; }

  .top-about-company__right__inner {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
