@import url(bootstrap.css);
@import url(../fonts/stylesheet.css);
.black-bg {
  background-color: #0a0a0a; }

.underline {
  display: inline-block;
  position: relative; }
  .underline:after {
    height: 2px;
    left: 0;
    position: absolute;
    bottom: -10%;
    content: "";
    width: 0; }

.logo-block .logo-and-menu {
  height: 100px; }
  .logo-block .logo-and-menu .logo-and-menu__logo {
    height: 80%; }
    .logo-block .logo-and-menu .logo-and-menu__logo img {
      display: inline-block;
      vertical-align: middle; }

.logo-and-menu__menu {
  height: 80%; }
  .logo-and-menu__menu span {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white; }

.top-about-company {
  position: relative;
  padding-bottom: 100px; }
  .top-about-company__left {
    top: 0;
    left: 0;
    position: absolute; }
  .top-about-company__right {
    background-color: #171717; }
    .top-about-company__right__inner {
      padding: 0 100px 0 200px;
      position: relative; }
      .top-about-company__right__inner:after {
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 0;
        height: 2px;
        top: 32px;
        content: "";
        display: block;
        width: 0; }
      .top-about-company__right__inner:hover h1 .underline {
        display: inline-block; }
        .top-about-company__right__inner:hover h1 .underline:after {
          background-color: #4a4c4c;
          width: 80%;
          transition: 1s; }
      .top-about-company__right__inner h1 {
        font-family: 'Gobold';
        font-size: 25px;
        font-variant: all-small-caps; }
        .top-about-company__right__inner h1 span {
          color: #82878a; }
      .top-about-company__right__inner p {
        color: #82878a;
        font-family: 'Open Sans'; }
  .top-about-company__pagination {
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Open Sans'; }
    .top-about-company__pagination span:first-of-type {
      display: inline-block;
      color: #4a4c4c; }
    .top-about-company__pagination span:last-of-type {
      color: #82878a; }

.pagination__next {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .pagination__next span:first-of-type {
    width: 20px;
    height: 1px;
    background: #bcbcbc;
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 10%; }
  .pagination__next span:last-of-type {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display: inline-block;
    padding: 5px;
    width: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 16px;
    right: 25%; }

.service {
  padding-bottom: 100px; }
  .service .weddings {
    background-image: url("../images/audi-bg.png");
    background-position: center;
    height: 606px;
    position: relative;
    z-index: 0; }
    .service .weddings:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%; }
    .service .weddings .underline:after {
      display: inline-block;
      background-color: white;
      width: 80%; }
    .service .weddings:hover:before {
      background-color: red; }
    .service .weddings:hover .underline {
      color: #171717; }
  .service .our-service {
    background-image: url("../images/mers-bg.png");
    background-position: center;
    height: 606px;
    position: relative;
    z-index: 0; }
    .service .our-service:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%; }
    .service .our-service .underline:after {
      display: inline-block;
      background-color: white;
      width: 80%; }
    .service .our-service:hover:before {
      background-color: red; }
    .service .our-service:hover .underline {
      color: #171717; }
  .service .tours {
    background-image: url("../images/mers-bg2.png");
    background-position: center;
    height: 606px;
    position: relative;
    z-index: 0; }
    .service .tours:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%; }
    .service .tours .underline:after {
      display: inline-block;
      background-color: white;
      width: 80%; }
    .service .tours:hover:before {
      background-color: red; }
    .service .tours:hover .underline {
      color: #171717; }
  .service .underline {
    color: white; }
  .service .pagination__next {
    border: 1px solid #bcbcbc;
    position: absolute;
    bottom: 50px; }
  .service .service__inner {
    position: relative;
    z-index: 2;
    padding-right: 1rem;
    color: white;
    height: 606px; }
    .service .service__inner > div {
      padding-top: 185px; }
    .service .service__inner .header-text {
      font-family: 'Gobold';
      font-size: 25px; }
    .service .service__inner p {
      font-family: 'Open Sans';
      font-size: 14px; }

.our-fleet .our-fleet-inner {
  position: relative; }
  .our-fleet .our-fleet-inner .prevslide {
    position: absolute;
    left: -15%;
    border: 1px solid grey;
    top: 40%;
    z-index: 2;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg); }
    .our-fleet .our-fleet-inner .prevslide span:first-of-type {
      width: 20px;
      height: 1px;
      background: #bcbcbc;
      display: inline-block;
      position: absolute;
      top: 21px;
      left: 10%; }
    .our-fleet .our-fleet-inner .prevslide span:last-of-type {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      display: inline-block;
      padding: 5px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 16px;
      right: 25%; }
    .our-fleet .our-fleet-inner .prevslide:hover {
      border: solid red 1px; }
      .our-fleet .our-fleet-inner .prevslide:hover span:last-of-type {
        border-right: 1px solid red;
        border-bottom: 1px solid red; }
      .our-fleet .our-fleet-inner .prevslide:hover span:first-of-type {
        background: red; }
  .our-fleet .our-fleet-inner .nextslide {
    position: absolute;
    right: -15%;
    border: 1px solid grey;
    top: 40%;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px; }
    .our-fleet .our-fleet-inner .nextslide span:first-of-type {
      width: 20px;
      height: 1px;
      background: #bcbcbc;
      display: inline-block;
      position: absolute;
      top: 21px;
      left: 10%; }
    .our-fleet .our-fleet-inner .nextslide span:last-of-type {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      display: inline-block;
      padding: 5px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 16px;
      right: 25%; }
    .our-fleet .our-fleet-inner .nextslide:hover {
      border: solid red 1px; }
      .our-fleet .our-fleet-inner .nextslide:hover span:last-of-type {
        border-right: 1px solid red;
        border-bottom: 1px solid red; }
      .our-fleet .our-fleet-inner .nextslide:hover span:first-of-type {
        background: red; }
.our-fleet__head {
  color: #9e171d;
  font-size: 40px;
  margin-block-end: 0;
  font-family: 'Gobold';
  font-variant: all-small-caps; }
  .our-fleet__head .underline {
    color: #0e0e0e; }
.our-fleet__about-cars {
  font-family: 'Open Sans';
  color: #969a9c;
  font-size: 13px; }
.our-fleet__cars-block {
  font-family: 'Gobold';
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative; }
  .our-fleet__cars-block .our-fleet__about-cars__item3, .our-fleet__cars-block .our-fleet__about-cars__item2,
  .our-fleet__cars-block .our-fleet__about-cars__item1 {
    position: relative; }
    .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params,
    .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params {
      display: none;
      position: absolute;
      bottom: 60px;
      height: 40%;
      left: 0;
      background-color: red;
      opacity: 80%; }
    .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text,
    .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
      position: absolute;
      bottom: 60px;
      left: 0;
      height: 40%;
      color: white;
      font-size: 13px;
      font-family: 'Open Sans';
      display: none; }
      .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p,
      .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p {
        margin-block-end: 0; }
        .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p:first-of-type, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p:first-of-type,
        .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p:first-of-type {
          margin-top: 20px; }
    .our-fleet__cars-block .our-fleet__about-cars__item3:hover .car-params, .our-fleet__cars-block .our-fleet__about-cars__item3:hover .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2:hover .car-params, .our-fleet__cars-block .our-fleet__about-cars__item2:hover .car-params-text,
    .our-fleet__cars-block .our-fleet__about-cars__item1:hover .car-params,
    .our-fleet__cars-block .our-fleet__about-cars__item1:hover .car-params-text {
      display: inline-block; }
.our-fleet:hover .underline:after {
  background-color: #9e171d;
  display: inline-block;
  width: 80%;
  bottom: 0; }

.contact {
  background-color: #161616; }
  .contact .contact-block__title {
    font-family: 'Gobold';
    font-size: 40px; }
    .contact .contact-block__title .underline {
      display: none; }
  .contact .contact-block__disc {
    font-size: 13px;
    color: #82878a;
    font-family: 'Open Sans'; }
  .contact .contact-block form p {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #82878a; }
  .contact .contact-block form input[type="checkbox" i] {
    background-color: #161616;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #9e171d; }
  .contact .contact-block form input[type="checkbox" i]:checked:after {
    display: inline-block;
    position: absolute;
    bottom: 9px;
    right: -5px;
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    transform: rotate(310deg); }
  .contact .contact-block form input[type="checkbox" i]:checked:before {
    display: inline-block;
    position: absolute;
    bottom: 6px;
    left: -3px;
    content: "";
    width: 13px;
    height: 2px;
    background-color: white;
    transform: rotate(50deg); }
  .contact .contact-block form .vehicle-type {
    position: relative; }
    .contact .contact-block form .vehicle-type:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      right: 10px;
      top: 10px;
      border-left: 1px solid #9e171d;
      border-bottom: 1px solid #9e171d;
      transform: rotate(320deg); }
    .contact .contact-block form .vehicle-type:after {
      position: absolute;
      content: "";
      display: inline-block;
      height: 100%;
      width: 1px;
      right: 30px;
      top: 0;
      background-color: #82878a; }
    .contact .contact-block form .vehicle-type select {
      border: 1px solid #82878a;
      color: #82878a;
      background-color: transparent;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .contact:hover .underline {
    display: inline-block; }
    .contact:hover .underline:after {
      width: 80%;
      transition: 1s;
      background-color: #9e171d; }

@media screen and (max-width: 1200px) {
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    height: 50%; }

  .our-fleet {
    position: relative; }

  .our-fleet-inner {
    position: static; }

  .our-fleet .our-fleet-inner .nextslide {
    right: 10%; }

  .our-fleet .our-fleet-inner .prevslide {
    left: 10%; } }
@media screen and (max-width: 1140px) {
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    left: 0;
    height: 45%; }
    .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p:first-of-type, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p:first-of-type, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p:first-of-type {
      margin-top: 10px; } }
@media screen and (max-width: 992px) {
  .top-about-company__right__inner {
    padding: 0 50px 0 100px; }

  .top-about-company__pagination {
    padding-top: 20px;
    padding-bottom: 20px; }

  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    left: 0;
    font-size: 1rem; }
    .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p {
      margin-block-end: 1em; }

  .our-fleet .our-fleet-inner .nextslide {
    right: 0; }

  .our-fleet .our-fleet-inner .prevslide {
    left: 0; } }
@media screen and (max-width: 768px) {
  .top-about-company__left {
    position: unset; }

  .top-about-company__right__inner {
    padding: 15px; }

  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p {
    margin-block-end: 0; }
    .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text p:first-of-type, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text p:first-of-type, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text p:first-of-type {
      margin-top: 0; }
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text .our-fleet .our-fleet-inner .nextslide, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text .our-fleet .our-fleet-inner .nextslide, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text .our-fleet .our-fleet-inner .nextslide {
    right: 2%;
    top: 40%; }
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text .our-fleet .our-fleet-inner .prevslide, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text .our-fleet .our-fleet-inner .prevslide, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text .our-fleet .our-fleet-inner .prevslide {
    left: 2%;
    top: 40%; } }
@media screen and (max-width: 576px) {
  .our-fleet .our-fleet-inner .nextslide {
    right: 0; }

  .our-fleet .our-fleet-inner .prevslide {
    left: 0; } }

/*# sourceMappingURL=style.css.map */
