@import "bootstrap.css";
@import "../fonts/stylesheet.css";

.black-bg {
  background-color: #0a0a0a;
}


.logo-block {
  .logo-and-menu {
    height: 100px;

    .logo-and-menu__logo {
      height: 80%;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.logo-and-menu__menu {
  height: 80%;

  span {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white;
  }
}

.top-about-company {
  position: relative;

  &__left {
    top: 0;
    left: 0;
    position: absolute;
  }

  &__right {
    background-color: #171717;

    &__inner {
      padding: 0 100px 0 200px;
      position: relative;

      &:hover {
        h1 {
          span {
            &:first-of-type {
              &:after {
                position: absolute;
                top: 32px;
                content: "";
                display: block;
                width: 5%;
                height: 2px;
                background-color: #4a4c4c;
                transition: width 2s, height 2s, background-color 2s, transform 2s;
              }
            }
          }
        }
      }

      h1 {
        font-family: 'Gobold';
        font-size: 25px;
        font-variant: all-small-caps;

        span {
          &:first-of-type {
            display: inline-block;
            color: #4a4c4c;
          }

          &:last-of-type {
            color: #82878a;
          }
        }
      }

      p {
        color: #82878a;
        font-family: 'Open Sans';
      }
    }
  }

  &__pagination {
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Open Sans';

    span {
      &:first-of-type {
        display: inline-block;
        color: #4a4c4c;
      }

      &:last-of-type {
        color: #82878a;
      }
    }

    &__next {
      position: relative;

      span {
        &:first-of-type {
          width: 30px;
          height: 3px;
          background: #bcbcbc;
          display: inline-block;
          vertical-align: middle;
        }

        &:last-of-type {
          position: absolute;
          left: 85%;
          top: 35%;
          border: solid #bcbcbc;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 5px;
          vertical-align: middle;
        }
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}

.our-service {
  background-image: url("../images/mers-bg.png");
  background-size: cover;
}


@media screen and(max-width: 992px) {
  .top-about-company__right__inner {
    padding: 0 50px 0 100px;
  }
  .top-about-company__pagination {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and(max-width: 768px) {
  .top-about-company__left {
    position: unset;
  }
  .top-about-company__right__inner {
    padding: 0;
  }
}
