@import "bootstrap.css";
@import "../fonts/stylesheet.css";
@import url(//use.fontawesome.com/releases/v5.0.7/css/all.css);


@mixin Gobold {
  font-family: 'Gobold';
}

@mixin opensans {
  font-family: 'Open Sans';
}

@mixin service-height {
  height: 606px;
}

.black-bg {
  background-color: #0a0a0a;
}

.underline {
  display: inline-block;
  position: relative;

  &:after {
    height: 2px;
    left: 0;
    position: absolute;
    bottom: -10%;
    content: "";
    width: 0;
  }
}

.logo-and-menu {

  &__menu {
    height: 45px;

    span {
      display: block;
      width: 45px;
      height: 2px;
      background-color: white;
    }
  }

  .logo-and-menu__logo {
    height: 80%;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}


.top-about-company {
  position: relative;
  padding-bottom: 100px;

  &__left {
    top: 0;
    left: 0;
    position: absolute;
  }

  &__right {
    background-color: #171717;

    &__inner {
      padding: 0 100px 0 200px;
      position: relative;

      &:after {
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 0;
        height: 2px;
        top: 32px;
        content: "";
        display: block;
        width: 0;
      }

      &:hover {
        h1 {
          .underline {
            display: inline-block;

            &:after {
              background-color: #4a4c4c;
              width: 80%;
              transition: 1s;
            }
          }
        }
      }

      h1 {
        @include Gobold();
        font-size: 25px;
        font-variant: all-small-caps;

        span {
          color: #82878a;
        }
      }

      p {
        color: #82878a;
        @include opensans;
      }
    }
  }

  &__pagination {
    padding-top: 80px;
    padding-bottom: 80px;
    @include opensans;

    span {
      &:first-of-type {
        display: inline-block;
        color: #4a4c4c;
      }

      &:last-of-type {
        color: #82878a;
      }
    }
  }
}


.pagination__next {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  span {
    &:first-of-type {
      width: 20px;
      height: 1px;
      background: #bcbcbc;
      display: inline-block;
      position: absolute;
      top: 21px;
      left: 10%;
    }

    &:last-of-type {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      display: inline-block;
      padding: 5px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 16px;
      right: 25%;
    }
  }
}


.service {
  padding-bottom: 100px;

  .weddings {
    background-image: url("../images/audi-bg.png");
    background-position: center;
    @include service-height;
    position: relative;
    z-index: 0;

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%;
    }

    .underline {
      &:after {
        display: inline-block;
        background-color: white;
        width: 80%;
      }
    }

    &:hover {
      &:before {
        background-color: red;
      }

      .underline {
        color: #171717;
      }
    }
  }

  .our-service {
    background-image: url("../images/mers-bg.png");
    background-position: center;
    @include service-height;
    position: relative;
    z-index: 0;

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%;
    }

    .underline {
      &:after {
        display: inline-block;
        background-color: white;
        width: 80%;
      }
    }

    &:hover {
      &:before {
        background-color: red;
      }

      .underline {
        color: #171717;
      }
    }
  }

  .tours {
    background-image: url("../images/mers-bg2.png");
    background-position: center;
    @include service-height;
    position: relative;
    z-index: 0;

    &:before {
      z-index: 1;
      position: absolute;
      top: 0;
      background-color: black;
      width: 100%;
      height: 100%;
      content: '';
      display: inline-block;
      opacity: 50%;
    }

    .underline {
      &:after {
        display: inline-block;
        background-color: white;
        width: 80%;
      }
    }

    &:hover {
      &:before {
        background-color: red;
      }

      .underline {
        color: #171717;
      }
    }
  }

  .underline {
    color: white;
  }

  .pagination__next {
    border: 1px solid #bcbcbc;
    position: absolute;
    bottom: 50px;
  }

  .service__inner {
    position: relative;
    z-index: 2;
    padding-right: 1rem;

    color: white;
    @include service-height;

    & > div {
      padding-top: 185px;
    }

    .header-text {
      @include Gobold;
      font-size: 25px;
    }

    p {
      @include opensans;
      font-size: 14px;
    }
  }
}

.our-fleet {
  &__head {
    color: #9e171d;
    font-size: 40px;
    margin-block-end: 0;
    @include Gobold();
    font-variant: all-small-caps;

    .underline {
      color: #0e0e0e;
    }
  }

  &__about-cars {
    @include opensans;
    color: #969a9c;
    font-size: 13px;
  }

  &__cars-block {
    @include Gobold;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;


    .our-fleet__about-cars__item3, .our-fleet__about-cars__item2,
    .our-fleet__about-cars__item1 {
      position: relative;

      .car-params {
        display: none;
        position: absolute;
        bottom: 60px;
        height: 40%;
        left: 0;
        background-color: red;
        opacity: 80%;
      }

      .car-params-text {
        position: absolute;
        bottom: 60px;
        left: 0;
        height: 40%;
        color: white;
        font-size: 13px;
        @include opensans;
        display: none;

        p {
          margin-block-end: 0;

          &:first-of-type {
            margin-top: 20px;
          }
        }
      }

      &:hover {
        .car-params, .car-params-text {
          display: inline-block;
        }
      }
    }
  }

  &:hover {
    .underline {
      &:after {
        background-color: #9e171d;
        display: inline-block;
        width: 80%;
        bottom: 0;
      }
    }
  }
}

.prevslide {
  position: absolute;
  left: -30px;
  border: 1px solid grey;
  bottom: 45%;
  z-index: 2;
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  transform: rotate(180deg);

  span {
    &:first-of-type {
      width: 20px;
      height: 1px;
      background: #bcbcbc;
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 10%;
    }

    &:last-of-type {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      display: inline-block;
      padding: 5px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 33%;
      right: 25%;
    }
  }

  &:hover {
    border: solid red 1px;

    span {
      &:last-of-type {
        border-right: 1px solid red;
        border-bottom: 1px solid red;
      }

      &:first-of-type {
        background: red;
      }
    }
  }
}

.nextslide {
  position: absolute;
  right: -30px;
  border: 1px solid grey;
  bottom: 45%;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;

  span {
    &:first-of-type {
      width: 20px;
      height: 1px;
      background: #bcbcbc;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 10%;
    }

    &:last-of-type {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      display: inline-block;
      padding: 5px;
      width: 10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 40%;
      right: 25%;
    }
  }

  &:hover {
    border: solid red 1px;

    span {
      &:last-of-type {
        border-right: 1px solid red;
        border-bottom: 1px solid red;
      }

      &:first-of-type {
        background: red;
      }
    }
  }
}

.contact {
  background-color: #161616;

  .contact-block {
    &__title {
      @include Gobold;
      font-size: 40px;

      .underline {
        display: none;
      }
    }

    &__disc {
      font-size: 13px;
      color: #82878a;
      @include opensans;
    }

    form {
      p {
        @include opensans;
        font-size: 13px;
        color: #82878a;
      }

      input[type="checkbox" i] {
        background-color: #161616;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #9e171d;
      }

      input[type="checkbox" i]:checked:after {
        display: inline-block;
        position: absolute;
        bottom: 9px;
        right: -5px;
        content: "";
        width: 20px;
        height: 2px;
        background-color: white;
        transform: rotate(310deg);
      }

      input[type="checkbox" i]:checked:before {
        display: inline-block;
        position: absolute;
        bottom: 6px;
        left: -3px;
        content: "";
        width: 13px;
        height: 2px;
        background-color: white;
        transform: rotate(50deg);
      }

      .vehicle-type {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          right: 10px;
          top: 10px;
          border-left: 1px solid #9e171d;
          border-bottom: 1px solid #9e171d;
          transform: rotate(320deg);
        }

        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          height: 100%;
          width: 1px;
          right: 30px;
          top: 0;
          background-color: #82878a;
        }

        select, button {
          border: 1px solid #82878a;
          color: #82878a;
          background-color: transparent;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }

      .email-and-name {
        p {
          &:after {
            padding-left: 5px;
            content: "*";
            display: inline-block;
            color: red;
          }
        }
      }

      select, input, textarea {
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }

    button {
      border: 1px solid white;
      color: white;
      background-color: transparent;

      &:focus {
        border: 1px solid white;
      }
    }

    &:hover {
      .underline {
        display: inline-block;

        &:after {
          width: 80%;
          transition: 1s;
          background-color: #9e171d;
        }
      }
    }
  }

  &__your-estimate {
    &__head, &__sum {
      color: #9e171d;
      font-size: 40px;
      margin-block-end: 0;
      @include Gobold();
      font-variant: all-small-caps;
    }

    &__discription {
      @include opensans;
      font-size: 13px;
      color: white;
    }

    &__another {
      @include opensans;
      text-transform: uppercase;
      color: white;
      font-size: 13px;
      font-weight: bolder;
      vertical-align: middle;

      &:before {
        border: solid white;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        border-width: 0 2px 2px 0;
        display: inline-block;
        content: "";
      }
    }

    &:hover {
      .underline {
        &:after {
          width: 80%;
          transition: 1s;
          background-color: white;
        }
      }
    }
  }
}

.testimonials {
  background-color: #0d0d0d;

  &__head {
    @include Gobold;
    font-size: 40px;
    color: white;
    font-variant: all-small-caps;

    .nextslide {
      top: 0;
      right: 0;
      left: 0;
      position: relative;
    }

    .prevslide {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
    }
  }

  &__disc {
    font-size: 13px;
    color: #82878a;
    @include opensans;
  }

  &:hover {
    .underline {
      &:after {
        width: 80%;
        transition: 1s;
        background-color: #9e171d;
      }
    }
  }

  &__reviews {
    &__item {
      font-size: 14px;

      &:nth-of-type(3n+2) {
        padding: 0 1.5rem;
      }

      .reviews__photo {

      }

      .reviews__text {
        color: #82878a;
        @include opensans();
      }

      .reviews__name {
        @include Gobold;
        text-transform: uppercase;
        color: #9e171d;
      }
    }
  }
}

.footer {
  .sydney-cbd, .connect-with-us {
    .footer__nav, .footer__contacts {
      a {
        @include opensans;
        font-size: 14px;
        color: #82878a;
        text-decoration: none;
        padding-right: 1rem;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    .footer__title {
      @include Gobold;
      font-size: 40px;
      color: #9e171d;
      font-variant: all-small-caps;

      .underline {
        color: black;
      }
    }

    &:hover {
      .underline {
        &:after {
          width: 80%;
          transition: 1s;
          background-color: #9e171d;
        }
      }
    }
  }

  &__social {
    background-color: #e6e6e6;
    @include opensans;
    color: #82878a;
    font-size: 14px;
  }

  a {
    color: #82878a;

  }

  a.privacy {
    color: #9e171d;
    padding-left: 24px;
  }

  .social-icons {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #82878a;
    border-radius: 20px;
    text-align: center;
    vertical-align: baseline;

    .fab {
      display: inline-block;
      vertical-align: sub;
      color: white;
      font-size: 1rem;
      text-align: center;
    }
  }
}


.top-menu {
  background-color: #B91017;
  color: white;
  z-index: 1;
  top: 0;

  .menu-item {
    a {
      color: white;
      font-variant: all-small-caps;
      font-size: 13px;
      font-weight: lighter;
    }

    .underline {
      &:hover {
        &:after {
          width: 100%;
          transition: 1s;
          background-color: white;
        }
      }
    }
  }

  #mdiv {
    width: 25px;
    height: 25px;
  }

  .mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: white;
    transform: rotate(45deg);
    Z-index: 1;
  }

  .md {
    height: 25px;
    width: 2px;
    background-color: white;
    transform: rotate(90deg);
    Z-index: 2;
  }
}

@media screen and(max-width: 1200px) {
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    height: 50%;
  }
  .our-fleet__cars-block .nextslide {
    right: 50px;
  }
  .our-fleet__cars-block .prevslide {
    left: 50px;
  }
}

@media screen and(max-width: 1140px) {
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    left: 0;
    height: 45%;

    p {
      &:first-of-type {
        margin-top: 10px;
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .top-about-company__right__inner {
    padding: 0 50px 0 100px;
  }
  .top-about-company__pagination {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    left: 0;
    font-size: 1rem;

    p {
      margin-block-end: 1em;
    }
  }
  .our-fleet__cars-block .nextslide {
    right: 0;
  }
  .our-fleet__cars-block .prevslide {
    left: 0;
  }
}

@media screen and(max-width: 768px) {
  .testimonials {
    &__reviews {
      &__item {
        &:nth-of-type(3n+2) {
          padding: 0;
        }
      }
    }
  }
  .top-about-company__left {
    position: unset;
  }
  .top-about-company__right__inner {
    padding: 15px;
  }
  .our-fleet__cars-block .our-fleet__about-cars__item3 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item2 .car-params-text, .our-fleet__cars-block .our-fleet__about-cars__item1 .car-params-text {
    p {
      margin-block-end: 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .top-menu {
    .menu-item {
      padding: 0 30px;
    }
  }
}

@media screen and(max-width: 576px) {
  .top-menu {

    ul {
      margin: 0 -12px;

      .menu-item {
        padding: 0;
        flex: 33%;
        border-top: 1px solid white;
        border-right: 1px solid white;

        &:nth-of-type(3n) {
          border-right: 0;
        }

        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }
  .logo-and-menu {

    &__menu {
      height: 20px;

      span {
        width: 20px;
      }
    }
  }
}
